<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication11.Properties.Settings.LojistikConnectionString"
            connectionString="Data Source=DESKTOP-JTDB1HM;Initial Catalog=Lojistik;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication11.Properties.Settings.ToshibaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Toshiba.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication11.Properties.Settings.BooksConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Books.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication11.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=TOSHIBAPC\SQLEXPRESS;Initial Catalog=Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication11.Properties.Settings.MusteriBilgiConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MusteriBilgi.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication11.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>